* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.navbar {
  width: 100%;
  display: flex;
  background-color: black;
  opacity: .8;
  position: sticky;
  top: 0;
  justify-content: space-around;
  padding: 20px;
}
.navbar .start-bootstrap img {
  width: 50%;
}
.list ul {
  display: inline-flex;
  justify-content: flex-end;
  list-style-type: none;
}
.list ul li a {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  margin-right: 20px;
}
.portfolio{
    background-color: cornsilk;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container{
    width: 80%;
    display: inline-flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-content: center;
 gap: 20px 20px;  
}
.portfolio .text{
    width: 100%;
    padding: 10px;
    text-align: center;
}
.portfolio .text h3{
    font-size: 40px;
    text-transform: uppercase;
}
.portfolio .text p{
    font-size: 20px;
    font-style: italic;
    opacity: .7;
}
.portfolio .portfolio-item{    
    width: 30%;
    padding: 20px;
}
.portfolio .portfolio-item img{
    width: 100%
}
.portfolio .portfolio-item{
    background-color:white;
    text-align: center;
    
}
.portfolio .container p{
    text-transform: capitalize;
    font-size: 15px;
    opacity: .7;
}
.portfolio .container h4{
    text-transform: capitalize;
    font-size: 20px;
}
.title{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    /* background-image:url(image/header-bg.jpg) ; */
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 300px;
    
}
.title .title-container {
    color: white;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}
.title .title-container h1{
    font-size: 30px;
    font-weight: 10px;
    font-style: italic;
}
.title .title-container h1,h2{
    padding: 10px;
}
.title .title-container h2{
    font-size: 50px;
    font-weight: 10px;
}
.title .button input{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 10px;
    font-style: italic;
    padding: 20px;
    background-color: #ffc800;
    border-style: solid;
    border-radius: 10px;
    color: white;
}
.title .button {
    padding: 10px;
}
